@model IEnumerable<Oleg.Models.UserProfile>

@{
    ViewBag.Title = "DeleteUser";
}
<div class="content">
 <div class="row">
     <div class="col-lg-4 contentMargine">
<h1>DeleteUser</h1>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                    @Html.ActionLink("DeleteUser", "DeleteUser", new { id = item.UserId })<br />
               
            </td>
        </tr>
    }

</table>
         </div>
 </div>
    </div>