@model Oleg.Models.UserComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserComment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LeadershipId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LeadershipId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserNickName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserNickName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LabelText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LabelText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.E_mail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.E_mail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
