@model IEnumerable<Oleg.Models.UserComment>

@{
    ViewBag.Title = "Index";
}

<div class="content">
 <div class="row">

     <div class="col-lg-9 contentMargine">
         <h1>Комантарі</h1>

@if (TempData.Peek("_UserRole") as string == "Admin" || TempData.Peek("_UserRole") as string == "Moderator")
{
    <p>
       @Html.ActionLink("Всі коментарі", "Index")
    </p>
}
@using (@Html.BeginForm())
{
    <label>Ім'я користувача</label> @Html.TextBox("name")<br />  
    <h4>Вкажіть часові рамки</h4>
    <label>Від</label> @Html.TextBox("start")<br /> 
    <label style="margin-right:4px;">До</label> @Html.TextBox("end")<br /> 
    <label>Ім'я зареэстрованого користувача</label> @Html.TextBox("nickname")<br />    
    <input type="submit" value="Шукати" />
}

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LeadershipId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserNickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabelText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    string linknickname = "/UserComments/Index?nickname=" + @item.UserNickName;
        var mail ="mailto:";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeadershipId)
            </td>
            <td>
               <a href ="@linknickname">@Html.DisplayFor(modelItem => item.UserNickName)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabelText)
            </td>
            <td>
               <a title="Написати повідомлення" href=@mail+@Html.DisplayFor(modelItem => item.E_mail)>@Html.DisplayFor(modelItem => item.E_mail)</a>
            </td>
            <td>
 @if (TempData.Peek("_UserRole") as string == "Admin" || TempData.Peek("_UserRole") as string == "Moderator")
                    {
                        string link1 = "/UserComments/Index?name=" + @item.Name;
                   
                        string link = link1;
                        <a href=@link>@item.Name</a>
                    }
            else 
            {
                @Html.DisplayFor(modelItem => item.Name)
            }
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (TempData.Peek("_UserRole") as string == "Admin")
                {
                           
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })<br />
                }
            </td>
        </tr>
    }

</table>
         </div>
     </div>
    </div>